# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

.pydevproject

*.json
.project
.cproject
root/guessmaker

*.csv
results/*.txt
results/cut/
grammar/
root/pickles/

.pyc

*.o
*.so


