# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

.pydevproject

*.json
.project
.cproject
root/guessmaker

*.csv
results/*.txt
results/cut/
grammar/

*.pyc
*.*~

root/db_credentials.conf

*.o
*.so

*.orig
*.swp

*.pickle
*.sql
